<nav class="navbar fixed-top navbar-dark bg-dark" id="nav" style="display:none;" data-mdb-animation="slide-right">
    <div class="container-fluid">
        
      <a class="navbar-brand" href="/">AFEClassroom</a>
    </div>
  </nav>