<nav class="navbar fixed-top navbar-dark bg-dark animate__animated animate__fadeInDown" id="nav" style="display:none;">
    <div class="container-fluid">
        
      <a class="navbar-brand" href="/">AFEClassroom</a>
    </div>
  </nav>