<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center" id="spinner-box">
    <div class="spinner-border text-success" id="spinner" role="status"> 
        <span class="sr-only">‎‏‏‎ ‎</span> 
    </div>
</div>

<script>
    setTimeout(()=>load(), 500);
    function load() {
        document.getElementById('spinner').style.display='none';
        document.getElementById('nav').style='';
        document.getElementById('container').style='';
        $("#spinner-box").remove();
    }
    </script>