<%- include('./templates/includes.ejs') %>

<%- include('./templates/header.ejs') %>
<body>
<div class="container" id="container" style="display: none;">

    <div class="animate__animated animate__fadeInDown">
      <div class="alert alert-success" role="alert" style="position:relative;transform:translateY(150%);">
        Pre-Calculus Honors is live in the virtual classroom. <a href="#" class="alert-link">Join now.</a>
      </div>
      </div>

    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center" id="spinner-box">
    <div class="spinner-border text-success" id="spinner" role="status"> 
        <span class="sr-only">‎‏‏‎ ‎</span> 
    </div>
</div>

<div class="animate__animated animate__fadeInDown">
<div id="school-announcements" style="position:relative;transform:translateY(70%);">

    <div class="rounded-lg card justify-content-center align-items-center">
        <div class="card-header background-image" style="background-color:black;">
            </div>
            <img class="front-profile-picture" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Round_Landmark_School_Icon_-_Transparent.svg/512px-Round_Landmark_School_Icon_-_Transparent.svg.png">
        <div class="card-body">
                AFE Announcements
            </div>
        </div>

    </div>
    </div>

<div id="classes">
    </div>


</div>
</body>

<script>
setTimeout(()=>load(), 500);
function load() {
    document.getElementById('spinner').style.display='none';
    document.getElementById('nav').style='';
    document.getElementById('container').style='';
    $("#spinner-box").remove();
}
</script>

<style>

    .background-image
    {
        background-size:cover;
        height: 175px;
        width:50%;
        z-index: -1;
        border: 0px;
        border-radius: 0px;
    }

    .front-profile-picture
    {
        max-width: 250px; 
        max-height: 150px;
        margin-top: -160px; 
        margin-bottom: 5px; 
        border: 3px solid #fff; 
        border-radius: 0%; 
    }

    </style>