<%- include('./templates/includes.ejs') %>

<%- include('./templates/header.ejs') %>
<body>

    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center" id="spinner-box">
        <div class="spinner-border text-success" id="spinner" role="status"> 
            <span class="sr-only">‎‏‏‎ ‎</span> 
        </div>
    </div>

<div class="container" id="container" style="display: none;">

    <div class="animate__animated animate__fadeInDown">
      <div class="alert alert-success" role="alert" style="position:relative;transform:translateY(150%);">
        Pre-Calculus Honors is live in the virtual classroom. <a href="#" class="alert-link">Join now.</a>
      </div>
      </div>

<div class="row">
<div class="animate__animated animate__fadeInUp">
<div id="school-announcements">

    <div class="rounded-lg card justify-content-center align-items-center" style="position:relative;margin-top:8%;">
        <div class="card-header background-image" style="background-color:black;">
            </div>
            <img class="front-profile-picture" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Round_Landmark_School_Icon_-_Transparent.svg/512px-Round_Landmark_School_Icon_-_Transparent.svg.png">
        <div class="card-body">
                AFE Announcements
            </div>
        </div>

    </div>
    </div>
</div>

<div class="animate__animated animate__fadeInUp">
    <div class="animate__animated animate__fadeInUp">

<div class="container" id="classes" style="margin-top:8%">

  <div class="card justify-content-center align-items-center" style="border:0;">
    <div class="row">
        <div class="col md-lg">
            <div class="rounded-lg card" style="width: 18rem;margin-bottom:15px;">
                <div class="card-body">
                  <h5 class="card-title">Pre-Calculus Honors</h5>
                  <h6 class="card-subtitle mb-2 text-muted">PETER GRIFFIN</h6>
                  <p class="card-text"></p>
                  <a href="#" class="card-link">Classroom</a>
                  <a href="#" class="card-link">View Assignments</a>
                </div>
              </div>
            </div>

            <div class="col md-lg">
                <div class="rounded-lg card" style="width: 18rem;margin-bottom:15px;">
                    <div class="card-body">
                      <h5 class="card-title">Pre-Calculus Honors</h5>
                      <h6 class="card-subtitle mb-2 text-muted">PETER GRIFFIN</h6>
                      <p class="card-text"></p>
                      <a href="#" class="card-link">Classroom</a>
                      <a href="#" class="card-link">View Assignments</a>
                    </div>
                  </div>
                </div>

                <div class="col md-lg">
                    <div class="rounded-lg card" style="width: 18rem;margin-bottom:15px;">
                        <div class="card-body">
                          <h5 class="card-title">Pre-Calculus Honors</h5>
                          <h6 class="card-subtitle mb-2 text-muted">PETER GRIFFIN</h6>
                          <p class="card-text"></p>
                          <a href="#" class="card-link">Classroom</a>
                          <a href="#" class="card-link">View Assignments</a>
                        </div>
                      </div>
                    </div>

            </div>
        </div>

</div>
</div>
    
    </div>

</body>


<script>
setTimeout(()=>load(), 500);
function load() {
    document.getElementById('spinner').style.display='none';
    document.getElementById('nav').style='';
    document.getElementById('container').style='';
    $("#spinner-box").remove();
}
</script>

<style>

    .background-image
    {
        background-size:cover;
        height: 175px;
        width:50%;
        z-index: -1;
        border: 0px;
        border-radius: 0px;
    }

    .front-profile-picture
    {
        max-width: 250px; 
        max-height: 150px;
        margin-top: -160px; 
        margin-bottom: 5px; 
        border: 3px solid #fff; 
        border-radius: 0%; 
    }

    </style>