<%- include('./templates/includes.ejs') %>

<%- include('./templates/header.ejs') %>
<body>
<div class="container">

    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="spinner-border text-success" id="spinner" role="status"> 
        <span class="sr-only">‎‏‏‎ ‎</span> 
    </div>
</div>


<div id="school-announcements">
    </div>

<div id="classes">
    </div>


</div>
</body>

<script>
setTimeout(()=>load(), 500);
function load() {
    document.getElementById('spinner').style.display='none';
    document.getElementById('nav').style='';
}
</script>