<%- include('../templates/includes.ejs') %>

<%- include('../templates/header.ejs') %>

<%- include('../templates/spinner.ejs') %>

<script src="/scripts/auth.js"></script>

<div class="container" id="container">

    <div class="animate__animated animate__fadeInUp">
    <div class="rounded-lg card justify-content-center align-items-center" style="position:relative;margin-top:15%;">
        <div class="card-body">
            <row><img src="/logo.png"> Login to AFEClassroom</row>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" style="margin-bottom: 8%;">
                <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Password" style="margin-bottom: 8%;">

                <button type="submit" onclick="login()" id="loginButton" class="btn btn-primary" style="width: 500px;">Login</button>

            </div>
        </div>

    </div>
    </div>
</div>

    </div>

    <style>
    .front-profile-picture
    {
        max-width: 250px; 
        max-height: 150px;
        margin-top: -160px; 
        margin-bottom: 5px; 
        border: 3px solid #fff; 
        border-radius: 0%; 
    }
        </style>