<%- include('../templates/includes.ejs') %>

<%- include('../templates/header.ejs') %>

<%- include('../templates/spinner.ejs') %>

<%= // 3 options for viewing , all, teacher only, presenter.
    // All is default grid
    // Teacher only is full screen teacher
    // presetner // speaker is large 1 box which is current talking and other screens below it
%>

<div class="container" id="container">
    <div class="row" style="position:relative;margin-top:10%;margin-left:5%;">
        <div class="justify-content-md-center align-items-center"> 
            
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/225x125" style="margin-right:1px;margin-bottom:4px;"></img>                        

        </div>

        <div class="row">
            <div class="col">
        <button class="btn btn-danger">🎤 Unmute</button>
        <button class="btn btn-danger">🎥 Show Camera</button>
        <button class="btn btn-secondary">⌨️ Chat</button>
        <button class="btn btn-secondary">⚙️ Settings</button>


    </div>
        </div>

    </div>

</div>