<%- include('../templates/includes.ejs') %>

<%- include('../templates/header.ejs') %>

<%- include('../templates/spinner.ejs') %>

<div class="container" id="container">
    <div class="row" style="position:relative;margin-top:10%;">
        <div class="justify-content-md-center">
            <img src="https://via.placeholder.com/250x150" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/250x150" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/250x150" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/250x150" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/250x150" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/250x150" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/250x150" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/250x150" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/250x150" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/250x150" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/250x150" style="margin-right:1px;margin-bottom:4px;"></img>                        
            <img src="https://via.placeholder.com/250x150" style="margin-right:1px;margin-bottom:4px;"></img>                        

        </div>
    </div>

</div>