<%- include('../templates/includes.ejs') %>

<title>
    Class Assignments
    </title>

<%- include('../templates/header.ejs') %>
<body>

<%- include('../templates/spinner.ejs') %>

<div class="container" id="container" style="display: none;">

    <div class="animate__animated animate__fadeInUp" style="position:relative;margin-top:15%;">
        <button type="button" class="btn btn-success" style="margin-bottom: 10px;">+</button>
    <div class="row">
        <div class="col-4" style="max-width: 200px;">
          <div class="list-group" id="list-tab" role="tablist" style="max-height: 500px;max-width:200px;overflow: scroll;">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-hw1" role="tab" aria-controls="home">FizzBuzz Lab</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-hw2" role="tab" aria-controls="profile">Recursion Lab</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-hw2" role="tab" aria-controls="messages">Nested Loop Quiz</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-hw2" role="tab" aria-controls="settings">APCS Textbook</a>
        </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

                <div class="rounded-lg card justify-content-center">
                    <div class="card-body">
                        <button type="button" class="btn btn-secondary" style="margin-bottom: 10px;">Edit</button>
                        <button type="button" class="btn btn-danger" style="margin-bottom: 10px;">Delete</button>
                        <button type="button" class="btn btn-info" style="margin-bottom: 10px;">View Work</button>


                        <h5 class="card-title">FizzBuzz Lab</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Lab</h6>
                        <h7 class="card-subtitle mb-2 text-muted">Due 3/3 @ 11:59 PM</h7>
                        <p class="card-text" style="margin-top:3%">

                            FizzBuzz is a fun game mostly played in elementary school. The rules are simple: when your turn arrives, you say the next number. However, if that number is a multiple of five, you should say the word “fizz” (preferably with a French accent) instead. If the number is a multiple of seven, you should say “buzz.” And if it is a multiple of both, you should say “fizzbuzz.” If you mess up, you’re out, and the game continues without you.

Please note that different divisors can be used in place of, or in addition to, 5 and 7, and different words or gestures can replace “fizz” or “buzz”. 

                        </p>

                        <div class="row justify-content-center align-items-center">

                        <div class="rounded-lg card" style="width: 250px;margin:2%;height: 55px;">
                                <div class="col-auto" style="width: 75px;">
                                    <div class="" style="height:55px;width: 75px;">
                                    <img style="margin-top:3%;height:45px;" src="https://cdn.discordapp.com/attachments/811807146395828304/816463104212860938/unknown.png" class="img-fluid" alt="">
                                        </div>

                                    </div>
                                    <div class="col" style="overflow:hidden;margin-left:35%;max-width: 150px;position: absolute;max-height: 50px;">
                                        <div style="margin-top:5%">    
                                        <a class="card-text" href="///">Lab Solution</a>
                                        </div>
                                        </div>
                            </div>


                        </div>
                        </div>
                        </div>

            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
          </div>
    </div>
</div>
</div>

</div>

</body>

<style>

    ::-webkit-scrollbar {
        display: none;
    }

</style>